<div class="flex justify-end sticky top-[-16px] bg-[#121212] py-4 z-10">
    <div class="flex items-center mr-4">
        <input type="text" placeholder="Search"
            class="w-64 px-4 py-2 text-black bg-white border-none rounded-l-full focus:outline-none focus:ring-2 focus:ring-[#2563eb] focus:border-transparent placeholder-gray-400">
        <button
            class="pl-2 pr-3 py-2 font-semibold text-white bg-white rounded-r-full hover:bg-[#2563eb] focus:outline-none focus:ring-2 focus:ring-[#2563eb] focus:ring-offset-2 focus:ring-offset-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-[#2563eb]" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>

    <div class="flex items-center space-x-4">
        <button
            class="px-4 py-2 font-semibold text-white bg-[#2563eb] rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-[#2563eb] focus:ring-offset-2 focus:ring-offset-gray-900">
            Log in
        </button>
        <button
            class="px-4 py-2 font-semibold text-white bg-gray-800 rounded-full hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 focus:ring-offset-gray-900">
            Sign up
        </button>
    </div>
</div>