<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/category-channels.js"></script>
    <title>SupplyStream</title>
    <style>
        .scroll-smooth {
            scroll-behavior: smooth;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body class="bg-black text-gray-900 font-sans">
    <%- body %>
</body>

</html>