<div
    class="bg-[#121212] text-white p-4 rounded-lg w-[260px] h-auto my-10 flex items-center justify-center mx-auto relative overflow-hidden border-gradient">
    <a class="flex flex-row items-center justify-center" href="/">
        <img src="/images/icons8-stream-96.png" alt="SupplyStream Logo" class="w-12 h-12 mr-2 mt-1">
        <h1 class="text-2xl font-bold">SupplyStream</h1>
    </a>
</div>

<style>
    .border-gradient {
        border: 4px solid;
        border-image: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ff11, #ff0073, #ffc800) 1;
        border-radius: 20px;
        animation: gradient-animation 3s ease-in-out infinite;
    }

    @keyframes gradient-animation {
        0% {
            border-image: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff) 1;
        }

        50% {
            border-image: linear-gradient(45deg, #00ffff, #ff00ff, #00ffff) 1;
        }

        100% {
            border-image: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff) 1;
        }
    }
</style>

<div id="app" class="flex items-start justify-center h-screen"></div>

<script>
    window.addEventListener("load", async function () {
        await Clerk.load();

        if (Clerk.user) {
            document.getElementById("app").innerHTML = `
                <div id="user-button"></div>
            `;

            const userButtonDiv = document.getElementById("user-button");

            Clerk.mountUserButton(userButtonDiv);
        } else {
            document.getElementById("app").innerHTML = `
                    <div id="sign-in"></div>
                `;

            const signInDiv = document.getElementById("sign-in");

            Clerk.mountSignIn(signInDiv);
        }
    });
</script>